## Imports

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import json
import jsonschema
from jsonschema.exceptions import ValidationError
import os
from tqdm.notebook  import tqdm
import pathlib
import os.path
import polars as pl 
import xarray as xr
import matplotlib.pyplot as plt
import requests
import seaborn as sns
from slack_sdk import WebClient
from slack_sdk.errors import SlackApiError
import time
import os
import numpy as np
from IPython.display import display

In [2]:
class Metadata:
    def read_netCDF_metadata(self, variables=None, attributes=None):
        """
        Read and print metadata information from a NetCDF file.

        Args:
            variables (list, optional): A list of variable names to retrieve metadata for. If not specified, all variables in the NetCDF file will be retrieved.
            attributes (list, optional): A list of attribute names to retrieve for each variable. If not specified, all attributes for each variable will be retrieved.

        Returns:
            None

        Example Usage:
            # Read metadata for all variables in the NetCDF file
            read_netCDF_metadata()

            # Read metadata for specific variables in the NetCDF file
            read_netCDF_metadata(variables=['temperature', 'humidity'])

            # Read metadata for specific attributes of all variables in the NetCDF file
            read_netCDF_metadata(attributes=['units', 'long_name'])
        """

        def read_variable_metadata(var_name, var):
            print(f"Variable: {var_name}")
            if not var.attrs:
                if var.values is not None:
                    print(f"    Values: {var.values}")
                else:
                    print("No values were found")
                print("    No attributes were found for this variable.")
            else:
                print(f"    Values: {var.values}")
                print("    Attributes:")
                for key, value in var.attrs.items():
                    if attributes is None or key in attributes:
                        print(f"     {key}: {value}")

        if variables is None:
            variables = Statistics.get_file_variables(self)
        for var_name in variables:
            try:
                coord_var = self.coords[var_name]
                read_variable_metadata(var_name, coord_var)
            except (KeyError, AttributeError) as e:
                print(f"Error occurred while retrieving metadata for variable {var_name}: {str(e)}")
    def insert_netCDF_metadata_input(self, variables=None, attributes=None, new_file=False, filename="new_file.nc",):
        """
        This function prompts the user to input metadata for the specified variables in a netCDF file.
        
        Parameters:
        - filename (str): Name of the netCDF file.
        - variables (list): List of variable names. If None, all coordinate variables are used.
        - attributes (list): List of attribute names. If None, default attributes are used.
        - new_file (bool): If True, a new netCDF file is created. If False, the existing file is used.
        
        Raises:
        - KeyError: If a variable was not found.
        - FileExistsError: If the specified file already exists.
        - ValueError: If the filename is invalid.
        """
        
        # Define default attributes if not provided
        default_attributes = [
            "Units", "Long_Name", "Standard_Name/Short_Name", 
            "Valid_Min", "Valid_Max", "Missing_Value", 
            "Fill_Value", "Scale_Factor", "Add_Offset", 
            "Coordinates", "Axis", "Description"
        ]
        if attributes is None:
            attributes = default_attributes

        if variables is None:
            variables = get_file_variables(self)

        for coord_name in variables:
            try:
                for attribute in attributes:
                    self[coord_name].attrs[attribute] = input(f"{coord_name}: {attribute} - Enter value: ")
            except KeyError as e:
                raise KeyError(f"Variable {coord_name} not found.") from e
        if new_file:
            export_to_file(self,filename)
        self.read_netCDF_metadata()
    def insert_netCDF_metadata_dict(self, dictionary, variables=None, new_file=False, filename="new_file.nc"):
        """
        Insert metadata into a netCDF file using a dictionary.

        Parameters:
        - self: The netCDF object.
        - dictionary: A dictionary containing the metadata to be inserted.
        - filename: The name of the netCDF file to be created or modified.
        - variables: A list of variables to insert the metadata into. If None, all variables will be used.
        - new_file: If True, a new file will be created. If False, the metadata will be inserted into an existing file.

        Raises:
        - ValueError: If dictionary is None.
        - AttributeError: If dictionary is not a dictionary.
        - FileExistsError: If the specified file already exists.
        - ValueError: If the filename is invalid.

        Returns:
        - None
        """
        if dictionary is None:
            raise ValueError("Please provide a dictionary.")
        if variables is None:
            variables = get_file_variables(self)
        if isinstance(dictionary, dict):
            for var in variables:
                for key, value in dictionary.items():
                    self[var].attrs[key] = value
        else:
            raise AttributeError(f"{dictionary} is not a dictionary.")
        if new_file:
            export_to_file(self,filename)
        self.read_netCDF_metadata()
    def insert_netCDF_metadata_json(self, json_file, new_file=False, filename="new_file.nc"):
        """
        Inserts metadata from a JSON file into a netCDF file.

        Args:
            self: The instance of the class that the function belongs to.
            json_file (str): The path to the JSON file containing the metadata.
            new_file (bool, optional): A boolean flag indicating whether a new netCDF file should be created. Defaults to False.
            filename (str, optional): The name of the new netCDF file. Defaults to "new_file.nc".

        Raises:
            FileNotFoundError: If the specified filename already exists.

        Returns:
            None: The function modifies the attributes of the netCDF file directly.
        """
        schema = {
            "type": "object",
            "patternProperties": {
                ".*": {
                    "type": "object",
                    "patternProperties": {
                        ".*": {
                            "type": "string",
                        }
                    }
                },
                "additionalProperties": False
                }   
            }   
        try:
            with open(json_file, 'r') as file:
                metadata = json.load(file)
        except IOError:
            raise IOError("Error opening JSON file. Please check if the file exists or if there are any permission issues.")
        try:
            # Validate JSON against schema
            jsonschema.validate(instance=metadata, schema=schema)
        except ValidationError as e:
            raise ValidationError(str(e))
        for var, attributes in metadata.items():
            for attr, value in attributes.items():
                self[var].attrs[attr] = value    
        if new_file:
            export_to_file(self,filename)
        self.read_netCDF_metadata()
    def insert_netCDF_metadata(self, via="input", **kwargs):
        """
        Insert metadata into the netCDF file.

        Parameters:
            via (str, optional): The method of providing metadata. Can be "dict", "json", or "input". Defaults to "input".
            **kwargs: Additional keyword arguments for the specific method.

        Raises:
            ValueError: If `via` is not a valid metadata input.
        """
        via_lower = via.lower()
        try:
            if via_lower == "dict":
                self.insert_netCDF_metadata_dict(self, **kwargs)
            elif via_lower == "json":
                self.insert_netCDF_metadata_json(self, **kwargs)
            elif via_lower == "input":
                self.insert_netCDF_metadata_input(self, **kwargs)
            else:
                raise ValueError(f"{via} is not a valid metadata input.")
        except Exception as e:
            raise ValueError(f"Error inserting netCDF metadata: {str(e)}")
    def get_attrs(self):
        return self.attrs
    def read_global_metadata(self, attributes=None):
        """
        Print the global metadata attributes of the dataset.

        Args:
            attributes (list): List of attribute names to print. If None, all attributes will be printed.
        """
        attrs = Metadata.get_attrs(self)
        if not attrs:
            print("No Global Attributes were found.")
        else:
            if attributes is None:
                for attr_name, attr_value in attrs.items():
                    print(attr_name, ":", attr_value)
            else:
                for attr_name, attr_value in attrs.items():
                    if attr_name in attributes:
                        print(attr_name, ":", attr_value)
    def insert_netCDF_global_metadata_input(self, attributes=None, new_file=False, filename="new_file.nc"):
        """
        Insert global metadata into a netCDF file.

        Args:
            attributes (list, optional): A list of attribute names for which the user will be prompted to enter values. 
                If not provided, a default list of attributes will be used.
            new_file (bool, optional): A boolean indicating whether a new file should be created. 
                If True, the metadata will be exported to a file specified by the filename parameter. 
                Default is False.
            filename (str, optional): The name of the file to which the metadata should be exported if new_file is True. 
                Default is "new_file.nc".

        Returns:
            None. The function modifies the metadata of the netCDF file and optionally exports it to a new file.
        """
        default_attributes = [
            "Title", "Institution", "Source",
            "History", "References", "Conventions",
            "Creator_Author", "Project", "Description"
        ]
        if attributes is None:
            attributes = default_attributes
        try:
            if not isinstance(attributes, list):
                raise ValueError("attributes must be a list")
            for attribute in attributes:
                if not isinstance(attribute, str):
                    raise ValueError("attributes must contain only strings")
                self.attrs[attribute] = input(f"{attribute} - Enter value: ")
        except ValueError as e:
            print(f"An error occurred: {e}")
        if new_file:
            export_to_file(self, filename)
        self.read_global_metadata()
    def insert_netCDF_global_metadata_dict(self, dictionary, new_file=False, filename="new_file.nc"):
        """
        Insert global metadata into a netCDF file.

        Args:
            self (NetCDFFile): An instance of the NetCDFFile class.
            dictionary (dict): A dictionary containing the global metadata to be inserted into the netCDF file.
            new_file (bool, optional): A boolean flag indicating whether to export the modified netCDF file to a new file. Default is False.
            filename (str, optional): The filename of the new netCDF file to be exported. Default is 'new_file.nc'.

        Raises:
            TypeError: If the dictionary input is not of type dict.

        Returns:
            None. The function modifies the netCDF file by inserting the global metadata attributes. If new_file is True, it also exports the modified netCDF file to a new file.
        """
        if not isinstance(dictionary, dict):
            raise TypeError(f"{dictionary} is not a dictionary.")
        
        for key, value in dictionary.items():
            self.attrs[key] = value
        if new_file:
            export_to_file(self, filename)
        self.read_global_metadata()
    def insert_netCDF_global_metadata_json(self, json_file, new_file=False, filename="new_file.nc"):
        """
        Inserts global metadata from a JSON file into a netCDF file.

        Args:
            self: The instance of the class calling the function.
            json_file (str): The path to the JSON file containing the metadata.
            new_file (bool, optional): Indicates whether a new netCDF file should be created. Default is False.
            filename (str, optional): Specifies the name of the new netCDF file. Default is "new_file.nc".

        Raises:
            FileNotFoundError: If there is an error opening the JSON file.
            json.JSONDecodeError: If there is an error decoding the JSON file.
            ValueError: If the filename is invalid.
            FileExistsError: If the filename already exists.
            ValidationError: If the JSON file does not match the specified schema.

        Returns:
            None
        """
        schema = {
            "type": "object",
            "patternProperties": {
                ".*": { "type": "string" }
            },
            "additionalProperties": False
        }

        try:
            with open(json_file, 'r') as file:
                metadata = json.load(file)
        except FileNotFoundError:
            raise FileNotFoundError("Error opening JSON file. Please check if the file exists or if there are any permission issues.")
        except json.JSONDecodeError:
            raise json.JSONDecodeError("Error decoding JSON file. Please check if the file contains valid JSON.")
        
        try:
            # Validate JSON against schema
            jsonschema.validate(instance=metadata, schema=schema)
        except ValidationError as e:
            raise ValidationError(str(e))
        if new_file:
            export_to_file(self, filename)
        self.read_global_metadata()
    def read_parquet_metadata(self, attributes=None, cols=None):
        """
        Reads the metadata of a Parquet file and prints the attributes of each column.

        Args:
            attributes (list, optional): A list of attributes to filter the metadata. If not provided, all attributes will be printed.
            cols (list, optional): A list of column names to filter the columns. If not provided, metadata of all columns will be printed.

        Returns:
            None

        Example Usage:
            # Example 1: Read metadata of all columns
            read_parquet_metadata()

            # Example 2: Read metadata of specific columns
            read_parquet_metadata(cols=['column1', 'column2'])

            # Example 3: Read metadata of specific attributes
            read_parquet_metadata(attributes=['attribute1', 'attribute2'])

            # Example 4: Read metadata of specific columns and attributes
            read_parquet_metadata(cols=['column1', 'column2'], attributes=['attribute1', 'attribute2'])
        """
        if isinstance(self, pd.DataFrame):
            self = pa.Table.from_pandas(self)
        if cols is None:
            for i in range(self.num_columns):
                field = self.field(i)
                col = field.name
                print(col)
                if field.metadata is None:
                    print("    No attributes were found for this column.")
                else:
                    metadata = {key.decode('utf-8'): value.decode('utf-8') for key, value in field.metadata.items()}
                    if attributes:
                        for attr in attributes:
                            if attr in metadata:
                                print(f"    {attr}: {metadata[attr]}")
                            else:
                                print(f"    The '{attr}' attribute was not found in this column's metadata.")
                    else:
                        for key, value in metadata.items():
                            print(f"    {key}: {value}") 
        else:
            for i in range(self.num_columns):
                field = self.field(i)
                col = field.name
                if col in cols:
                    print(col)
                    if field.metadata is None:
                        print("    No attributes were found for this column.")
                    else:
                        metadata = {key.decode('utf-8'): value.decode('utf-8') for key, value in field.metadata.items()}
                        if attributes:
                            for attr in attributes:
                                if attr in metadata:
                                    print(f"    {attr}: {metadata[attr]}")
                                else:
                                    print(f"    The '{attr}' attribute was not found in this column's metadata.")
                        else:
                            for key, value in metadata.items():
                                print(f"    {key}: {value}")
    def insert_parquet_metadata_input(self, attributes=None, cols=None, new_file=False, filename="new_file.parquet"):
        """
        Insert metadata for columns in a Parquet file.

        Args:
            attributes (list, optional): A list of attributes for which metadata needs to be inserted. If not provided, default attributes are used.
            cols (list, optional): A list of columns for which metadata needs to be inserted. If not provided, metadata is inserted for all columns in the DataFrame.
            new_file (bool, optional): A boolean indicating whether to export the DataFrame to a new Parquet file. Default is False.
            filename (str, optional): The name of the new Parquet file. Default is "new_file.parquet".

        Returns:
            pyarrow.Table: A Parquet table with the inserted metadata.

        Example Usage:
            # Insert metadata for all columns in a DataFrame and export it to a Parquet file
            df.insert_parquet_metadata_input()

            # Insert metadata for specific columns in a DataFrame and export it to a new Parquet file
            df.insert_parquet_metadata_input(attributes=['Description', 'Units'], cols=['col1', 'col2'], new_file=True, filename='metadata.parquet')
        """
        default_attributes = ['Description', 'Units', 'Data Source', 'Valid Range or Categories']
        if attributes is None:
            attributes = default_attributes
        if cols is None:
            cols = list(self.columns)
        metadata = []
        columns = self.columns  
        cols_set = set(cols)  
        for col in columns:
            if col in cols_set:
                col_metadata = {}
                for attribute in attributes:
                    data = input(f"{col}: {attribute} - Enter value: ")
                    col_metadata[attribute] = data
                metadata.append(col_metadata)
            else:
                metadata.append(None)
        dtypes = self.dtypes
        dtypes = ["string" if dtype == "category" else str(dtype) for dtype in dtypes]
        cols_dtypes = zip(columns, dtypes, metadata)
        schema = [pa.field(col, pa.type_for_alias(dtype), metadata=meta) for col, dtype, meta in cols_dtypes]
        table_schema = pa.schema(schema)
        table = pa.Table.from_pandas(self, schema=table_schema)
        if new_file:
            export_to_file(table, filename)
        return table
    def insert_parquet_metadata_dict(self, dictionary, cols=None, new_file=False, filename="new_file.parquet"):
        """
        Inserts metadata into a Parquet file based on a given dictionary.

        Args:
            dictionary (dict): A dictionary containing the metadata to be inserted into the Parquet file.
            cols (list, optional): A list of column names to specify which columns the metadata should be inserted into. 
                If not provided, metadata will be inserted into all columns. Default is None.
            new_file (bool, optional): A boolean value indicating whether to create a new Parquet file with the inserted metadata. 
                Default is False.
            filename (str, optional): The name of the new Parquet file to be created. Default is "new_file.parquet".

        Returns:
            pyarrow.Table: A Parquet table with the inserted metadata.

        Raises:
            ValueError: If the dictionary parameter is not provided.
            AttributeError: If the dictionary parameter is not a dictionary.

        Example Usage:
            # Create a DataFrame
            df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})

            # Define a dictionary with metadata
            metadata_dict = {'A': 'This is column A', 'B': 'This is column B'}

            # Insert metadata into the Parquet file
            df.insert_parquet_metadata_dict(metadata_dict, new_file=True, filename='new_file.parquet')
        """

        if dictionary is None:
            raise ValueError("Please provide a dictionary.")
        if cols is None:
            cols = list(self.columns)
        columns = self.columns
        dtypes = self.dtypes
        dtypes = ["string" if dtype == "category" else str(dtype) for dtype in dtypes]
        metadata = []
        if isinstance(dictionary, dict):
            cols_set = set(cols)
            for col in columns:
                if col in cols_set:
                    metadata.append(dictionary)
                else:
                    metadata.append(None)
            cols_dtypes = zip(columns, dtypes, metadata)
            schema = [pa.field(col, pa.type_for_alias(dtype), metadata=meta) for col, dtype, meta in cols_dtypes]
            table_schema = pa.schema(schema)
            table = pa.Table.from_pandas(self, schema=table_schema)
            if new_file:
                export_to_file(table, filename)
            return table  
        else:
            raise AttributeError(f"{dictionary} is not a dictionary.")
    def insert_parquet_metadata_json(self, json_file, new_file=False, filename="new_file.parquet"):
        """
        Inserts metadata from a JSON file into a Parquet file.

        Args:
            json_file (str): The path to the JSON file containing the metadata.
            new_file (bool, optional): Indicates whether a new Parquet file should be created. Defaults to False.
            filename (str, optional): The name of the new Parquet file. Defaults to "new_file.parquet".

        Returns:
            pyarrow.Table: The Parquet table with the updated metadata.

        Raises:
            IOError: If there is an error opening the JSON file.
            ValidationError: If the JSON data does not match the predefined schema.
        """
        schema = {
            "type": "object",
            "patternProperties": {
                ".*": {
                    "type": "object",
                    "patternProperties": {
                        ".*": {
                            "type": "string",
                        }
                    }
                },
                "additionalProperties": False
            }
        }
        try:
            with open(json_file, 'r') as file:
                json_data = json.load(file)
        except IOError:
            raise IOError("Error opening JSON file. Please check if the file exists or if there are any permission issues.")
        try:
            # Validate JSON against schema
            jsonschema.validate(instance=json_data, schema=schema)
        except ValidationError as e:
            raise ValidationError(str(e))
        cols_dtypes = get_cols_dtypes(self)
        cols_dtypes = [[col, "string"] if dtype == "category" else [col, str(dtype)] for col, dtype in cols_dtypes]
        metadata = []
        for col in cols_dtypes:
            if col[0] in json_data:
                col_metadata = json_data[col[0]]
                metadata.append(col_metadata)
            else:
                metadata.append(None)
        cols_dtypes = zip(cols_dtypes, metadata)
        schema = [pa.field(col_dtype[0], pa.type_for_alias(col_dtype[1]), metadata=meta) for col_dtype, meta in cols_dtypes]
        table_schema = pa.schema(schema)
        table = pa.Table.from_pandas(self, schema=table_schema)
        if new_file:
            export_to_file(table, filename)
        return table

In [3]:
class File:
    def read_file(path, **kwargs):
        """
        Read a file and return a DataFrame object.

        Args:
            cls: The class to be instantiated with the DataFrame object.
            path: The path to the file.
            **kwargs: Additional keyword arguments to be passed to the file reader.

        Returns:
            An instance of the specified class with the DataFrame object.

        Raises:
            TypeError: If the path is not a string.
            ValueError: If the file format is not supported.
            RuntimeError: If there is an error in reading the file.
        """
        if not isinstance(path, str):
            raise TypeError("Path must be a string.")

        try:
            extension = File.get_file_extension(path)
            if extension == ".csv":
                df = pd.read_csv(path, **kwargs)
                return df
            elif extension == ".parquet":
                df = pd.read_parquet(path, **kwargs)
                return df
            elif extension == ".json":
                df = pd.read_json(path, **kwargs)
                return df
            elif extension == ".xlsx":
                df = pd.read_excel(path, **kwargs)
                return df
            elif extension == ".xml":
                df = pd.read_xml(path, **kwargs)
                return df
            elif extension == ".feather":
                df = pd.read_feather(path, **kwargs)
                return df
            elif extension == ".html":
                df = pd.read_html(path, **kwargs)
                return df
            elif extension == ".nc":
                df = xr.open_dataset(path, **kwargs)
                return df
            else:
                raise ValueError(f"Unsupported file format for {path}. Supported formats: CSV, Parquet, Json, Excel, Avro, Arrow")
        except Exception as e:
            raise RuntimeError(f"Error in reading the file {path}: {e}")
    def get_file_extension(filename):
        suffix = pathlib.Path(filename).suffix
        return suffix
    def export_to_file(self, filename):
        """
        Exports data to a file with a specified filename.

        Args:
            self: The data object that needs to be exported.
            filename (str): The name of the file to export the data to.

        Raises:
            ValueError: If the file extension is not valid.
            FileExistsError: If the file already exists.

        Example Usage:
            data.export_to_file("output.nc")

        Code Analysis:
            This function checks if the file already exists and if the file extension is valid before exporting the data.
            If the file extension is ".nc", it uses the `to_netcdf` method to export the data.
            If the file extension is ".parquet", it uses the `write_table` method from the `pq` module to export the data.

        Returns:
            None
        """
        suffixs = [".nc", ".parquet"]
        if not os.path.isfile(filename):
            if self.get_file_extension(filename) in suffixs:
                if self.get_file_extension(filename) == ".nc":
                    self.to_netcdf(filename)
                elif self.get_file_extension(filename) == ".parquet":
                    pq.write_table(self, filename, compression=None)        
            else:
                raise ValueError(f"Invalid file extension. Please provide a valid filename. Valid file extesions {suffixs}.")
        else:
            raise FileExistsError(f"{filename} already exists. Please change it or delete it.")

In [36]:
class Statistics:
    def get_file_variables(self):
        variables = list(self.variables.keys())
        return variables
    def get_dtypes(self, cols = None):
        if cols is None:
            cols = self.columns
        dtypes = [str(self[col].dtype) for col in cols]
        return dtypes
    def get_cols(self):
        cols = list(self.columns)                            
        return cols                                                                                                                                                                                                        
    def get_cols_dtypes(self):
        cols = self.get_cols()
        dtypes = self.get_dtypes()
        cols_dtypes = list(zip(cols, dtypes))
        return cols_dtypes
    def convert_python_type(min_value, max_value):
            if isinstance(min_value, (int, np.integer)) and isinstance(max_value, (int, np.integer)):
                return int(min_value), int(max_value)
            elif isinstance(min_value, (float, np.floating)) and isinstance(max_value, (float, np.floating)):
                return float(min_value), float(max_value)
            elif isinstance(min_value, (np.bool_, bool)) and isinstance(max_value, (np.bool_, bool)):
                return bool(min_value), bool(max_value)
            else:
                return min_value, max_value
    def get_best_dtypes(self, cols=None, convert=False, output=True):
        """
        Determine the best data type for each column in a pandas DataFrame based on the minimum and maximum values in the column.
        
        Args:
            self (pandas DataFrame): The pandas DataFrame object.
            cols (list, optional): A list of column names to consider. If not provided, all columns in the DataFrame will be considered.
            convert (bool, optional): A boolean flag indicating whether to convert the columns to the best data type or just print the best data type for each column.
            output (bool, optional): A boolean flag indicating whether to print the best dtype or return its name.
        
        Returns:
            pandas DataFrame or str: If the `convert` parameter is `True` and `output` is `True`, the function returns the modified DataFrame. 
                                    If `output` is `False`, it returns the name of the best dtype as a string. 
                                    Otherwise, it does not return anything.
        """
        if cols is None:
            cols = self.columns
            
        for col in cols:    
            try:
                if pd.api.types.is_numeric_dtype(self[col]):
                    col_min = self[col].min()
                    col_max = self[col].max()
                    col_min, col_max = Statistics.convert_python_type(col_min, col_max)
                    if isinstance(col_min, bool) and isinstance(col_max, bool):
                        if convert:
                            self[col] = self[col].astype("bool")
                        elif output:
                            print(f"The best dtype for {col} is bool") 
                        else:
                            return "bool"
                    elif isinstance(col_min, int) and isinstance(col_max, int):
                        if col_min >= -128 and col_max <= 127:
                            if convert:
                                self[col] = self[col].astype("int8")
                            elif output:
                                print(f"The best dtype for {col} is int8")
                                if self[col].nunique(dropna=False) == 2:
                                    print("But consider changing it to bool, has you have 2 unique values so you can map the numbers to be True or False")
                            else:
                                return "int8"
                        elif col_min >= -32768 and col_max <= 32767:
                            if convert:
                                self[col] = self[col].astype("int16")
                            elif output:
                                print(f"The best dtype for {col} is int16")
                            else:
                                return "int16"
                        elif col_min >= -2147483648 and col_max <= 2147483647:
                            if convert:
                                self[col] = self[col].astype("int32")
                            elif output:
                                print(f"The best dtype for {col} is int32")
                            else:
                                return "int32"
                        else:
                            if convert:
                                self[col] = self[col].astype("int64")
                            elif output:
                                print(f"The best dtype for {col} is int64")
                            else:
                                return "int64"
                    elif isinstance(col_min, float) and isinstance(col_max, float):
                        if col_min >= np.finfo(np.float16).min and col_min <= np.finfo(np.float16).max:
                            if convert:
                                self[col] = self[col].astype("float16")
                            elif output:
                                print(f"The best dtype for {col} is float16")
                            else:
                                return "float16"
                        elif col_max >= np.finfo(np.float32).min and col_max <= np.finfo(np.float32).max:
                            if convert:
                                self[col] = self[col].astype("float32")
                            elif output:
                                print(f"The best dtype for {col} is float32")
                            else:
                                return "float32"
                        else:
                            if convert:
                                self[col] = self[col].astype("float64")
                            elif output:
                                print(f"The best dtype for {col} is float64")
                            else:
                                return "float64"
                else:
                    if convert:
                        self[col] = self[col].astype("category")
                    elif output:
                        print(f"The best dtype for {col} is category")
                    else:
                        return "category"
            except Exception as e:
                print(f"Error on processing columm {col}: {e}")
                
        if convert:
            return self

    def loop_to_col_info(self, func, new_col_name, show_df, get_total=False, output=True):
        try:
            if callable(func) is True:
                if show_df:
                    dataframe = []
                if get_total:
                    total = 0
                for col in self.columns:
                    value = func(self, col, False)
                    if get_total:
                        total += value
                    if output:
                        func(self, col)     
                    if show_df:
                        col_info = [col, value]
                        dataframe.append(col_info)
                if show_df:
                    collums = ["Col_Name", new_col_name]
                    if get_total:
                        dataframe.append(["Total", total])
                    dataframe = pd.DataFrame(dataframe, columns=collums)
                    if get_total:
                        n_rows = len(self.columns) + 1
                        display(dataframe.head(n_rows))
                        return total
                    else:
                        return dataframe
                if get_total:
                    if output:   
                        print(f"Total: {total}")
                    return total
        except ValueError:
            print(f"{func} has to be a function.")
    def get_memory_usage(self, cols=None, output=True, get_total=True, show_df=False, unit="kb", use_deep=True):
        """
        Calculate the memory usage of each column in a pandas DataFrame.

        Parameters:
        - cols (list, optional): A list of column names to calculate the memory usage for. If not provided, it calculates the memory usage for all columns in the DataFrame.
        - output (bool, optional): A boolean flag indicating whether to print the memory usage for each column. Default is True.
        - get_total (bool, optional): A boolean flag indicating whether to calculate and return the total memory usage. Default is True.
        - show_df (bool, optional): A boolean flag indicating whether to display the memory usage in a DataFrame. Default is False.
        - unit (str, optional): The unit of memory usage to calculate. Supported units are bytes ('b'), kilobytes ('kb'), and megabytes ('mb'). Default is 'kb'.
        - use_deep (bool, optional): A boolean flag indicating whether to include the memory usage of referenced objects. Default is True.

        Returns:
        - If output is True, the method prints the memory usage for each column.
        - If get_total is True, the method returns the total memory usage as a float.
        - If show_df is True, the method displays the memory usage in a DataFrame.
        """

        if cols is None:
            cols = self.columns
        supported_bytes = ["kb", "mb", "b"]
        assert unit in supported_bytes, f"{unit} not supported. Units supported is bytes(b), kilobytes(kb) and megabytes(mb)."
        dataframe = []
        total = 0
        if show_df:
            output = False
        conversion_factors = {
            "kb": 1024,
            "mb": 1024**2,
            "b": 1
        }
        conversion_factor = conversion_factors[unit]
        for col in cols:
            memory_usage = self[col].memory_usage(deep=use_deep)
            value = round(memory_usage / conversion_factor, 2)
            if output:
                print(f"Column: {col} uses {value}{unit}.")
            if get_total:
                total += value   
            if show_df:
                col_info = [col, value]
                dataframe.append(col_info)    
        if show_df:
            collums = ["Col_Name", f"Memory_Usage({unit})"]
            if get_total:
                dataframe.append(["Total", total])
            dataframe = pd.DataFrame(dataframe, columns=collums)
            if get_total:
                n_rows = len(self.columns) + 1
                display(dataframe.head(n_rows))
                return total
            else:
                return dataframe
        if get_total:
            if output:   
                print(f"Total: {total} {unit}")
            return total
    def get_memory_usage_percentage(self, cols=None, output=True, unit="kb", get_total=True, show_df=False, use_deep=True):
        """
        Calculate the memory usage percentage for each column in a pandas DataFrame.

        Args:
            cols (list, optional): A list of column names to calculate the memory usage percentage for. If not provided, it calculates the memory usage percentage for all columns in the DataFrame.
            output (bool, optional): A boolean flag indicating whether to print the memory usage percentage for each column. Default is True.
            unit (str, optional): The unit of memory usage to calculate. Supported units are bytes ('b'), kilobytes ('kb'), and megabytes ('mb'). Default is 'kb'.
            get_total (bool, optional): A boolean flag indicating whether to calculate and return the total memory usage percentage. Default is True.
            show_df (bool, optional): A boolean flag indicating whether to display the memory usage percentage in a DataFrame. Default is False.
            use_deep (bool, optional): A boolean flag indicating whether to include the memory usage of referenced objects. Default is True.

        Returns:
            float or DataFrame: If get_total is True, returns the total memory usage percentage as a float. If show_df is True, returns the memory usage percentage in a DataFrame.

        Raises:
            AssertionError: If the unit parameter is not supported.
        """
        if cols is None:
            cols = self.columns
        supported_bytes = ["kb", "mb", "b"]
        assert unit in supported_bytes, f"{unit} not supported. Units supported is bytes(b), kilobytes(kb) and megabytes(mb)."
        dataframe = []
        total = 0
        if show_df:
            output = False
        for col in cols:
            total_usage = Statistics.get_memory_usage(self, output=False)
            col_usage = Statistics.get_memory_usage(self, [col], output=False, unit=unit, use_deep=use_deep)
            value = round((col_usage/total_usage) * 100, 2)
            if output:
                print(f"Column: {col} uses {value}{unit}.")
            if get_total:
                total += value   
            if show_df:
                col_info = [col, f"{value}%"]
                dataframe.append(col_info)   
        if show_df:
            collums = ["Col_Name", f"Percentage_of_Memory_Usage({unit})"]
            if get_total:
                dataframe.append(["Total", f"{total}%"])
            dataframe = pd.DataFrame(dataframe, columns=collums)
            if get_total:
                n_rows = len(self.columns) + 1
                display(dataframe.head(n_rows))
                return total
            else:
                return dataframe
        if get_total:
            if output:   
                print(f"Total: {total} {unit}")
            return total
    def get_col_null_count(self, col, output=True):
        if cols is None:
            cols = self.columns
        dataframe = []
        total = 0
        value = self[col].isnull().sum()
        if show_df:
            output = False
        if output:
            print(f"The number of null values in {col} is {value}")
        return value
    def get_nulls_count(self, show_df=False, get_total=True):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_null_count, new_col_name="Null_Values", show_df= show_df, get_total=get_total)
    def get_col_null_percentage(self, col, print_output=True):
        value = self[col].isnull().sum()
        value = round((value/len(self[col])) * 100, 2)
        if print_output:
            print(f"The percentage of null values in {col} is {value} %")
        return value
    def get_nulls_percentage(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_null_percentage, new_col_name="Percentage_of_Null_Values", show_df= show_df)
    def get_col_number_of_unique_values(self, col, print_output=True):
        value = self[col].nunique()
        if print_output:
            print(f"The number of unique values in {col} is {value}")
        return value
    def get_number_of_unique_values(self, show_df=False, get_total=True):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_number_of_unique_values, new_col_name="Unique_Values", show_df= show_df, get_total=get_total)
    def get_col_max_value(self, col, output=True):
        if self[col].dtype != "category" and self[col].dtype != "bool":
            value = self[col].max()
            if output:
                print(f"The maximum value in {col} is {value}")
            return value
        else:
            value = self[col].value_counts().idxmax()
            if output:
                print(f"The most common value in {col} is {value}")
            return value
    def get_max_values(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_max_value, new_col_name="Max_Values", show_df= show_df)
    def get_col_max_value_count(self, col, output=True):
        if self[col].dtype != "category":
            value = self[col].max()
            value = self[self[col] == value][col].count()
            if output:
                print(f"The number of ocurrences of the max value in {col} is {value}")
            return value
        else:
            value = self[col].value_counts().max()
            if output:
                print(f"The number of ocurrences of the most common value in {col} is {value}")
            return value
    def get_max_value_count(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_max_value_count, new_col_name="Max_Values_Count", show_df= show_df)
    def get_col_max_value_percentage(self, col, output=True):
        if self[col].dtype != "category":
            value = self[col].max()
            value = self[self[col] == value][col].count()
            value = round((value/len(self[col])) * 100, 2)
            if output:
                print(f"The percentage of max value in {col} is {value} %")
                print("Tip: It's possible for the percentage of max values being lower than the percentage of min values. So don't take this function seriously if you are using it for numerical columns.")
            return value
        else:
            value = self[col].value_counts().max()
            value = round((value/len(self[col])) * 100, 2)
            if output:
                print(f"The percentage of most common value in {col} is {value} %")
            return value
    def get_max_value_percentage(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_max_value_count, new_col_name="Max_Values_Percentage", show_df= show_df)
    def get_col_min_value(self, col, output=True):
        if self[col].dtype != "category":
            value = self[col].min()
            if output:
                print(f"The minimum value in {col} is {value}")
            return value
        else:
            value = self[col].value_counts().idxmin()
            if output:
                print(f"The less common value in {col} is {value}")
            return value
    def get_min_value(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_min_value, new_col_name="Min_Values", show_df= show_df)
    def get_col_min_value_count(self, col, output=True):
        if self[col].dtype != "category":
            value = self[col].min()
            value = self[self[col] == value][col].count()
            if output:
                print(f"The number of ocurrences of the minimum value in {col} is {value}")
            return value
        else:
            value = self[col].value_counts().min()
            if output:
                print(f"The number of ocurrences of the less common value in {col} is {value}")
            return value
    def get_min_value_count(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_min_value_count, new_col_name="Min_Values_Count", show_df= show_df)
    def get_col_min_value_percentage(self, col, output=True):
        if self[col].dtype != "category":
            value = self[col].min()
            value = self[self[col] == value][col].count()
            value = round((value/len(self[col])) * 100, 2)
            if output:
                print(f"The percentage of min value in {col} is {value} %")
                print("Tip: It's possible for the percentage of max values being lower than the percentage of min values. So don't take this function seriously if you are using it for numerical columns.")
            return value
        else:
            value = self[col].value_counts().min()
            value = round((value/len(self[col])) * 100, 2)
            if output:
                print(f"The percentage of less common value in {col} is {value} %")
            return value
    def get_min_value_percentage(self, show_df=False):
        return Statistics.loop_to_col_info(self, func=Statistics.get_col_min_value_count, new_col_name="Min_Values_Percentage", show_df= show_df)
    def get_dataframe_mem_insight(self, transpose=False):
        """
        Generate memory insights for each column in a given dataframe.

        Args:
            self (pandas.DataFrame): The dataframe for which memory insights are to be generated.
            transpose (bool, optional): A flag indicating whether the resulting dataframe should be transposed. Default is False.

        Returns:
            pandas.DataFrame: A dataframe containing information such as column name, data type, recommended data type, memory usage, number of missing values, percentage of missing values, and number of distinct values.
        """
        dataframe = []
        for col in self.columns:
            col_info = [
                col,
                str(Statistics.get_dtypes(self, [col])).strip("[]'"),
                Statistics.get_best_dtypes(self, [col], False, False),
                Statistics.get_col_memory_usage(self, col, False),
                f"{Statistics.get_col_memory_usage_percentage(self, col, False)}%",
                Statistics.get_col_null_count(self, col, False),
                f"{Statistics.get_col_null_percentage(self, col, False)}%",
                Statistics.get_col_number_of_unique_values(self, col, False)
            ]
            dataframe.append(col_info)

        column_names = [
            'Column',
            'Dtype',
            'Recommend_Dtype',
            'Memory',
            'Memory_Percentage',
            'Missing_Values',
            'Percentage_of_Missing_Values',
            'Distinct_Values'
        ]
        dataframe = pd.DataFrame(dataframe, columns=column_names)
        if transpose:
            dataframe = dataframe.transpose()
            dataframe.columns = dataframe.iloc[0]
            dataframe = dataframe[1:]
        return dataframe.head(len(self.columns))
    def get_dataframe_values_insight(self, transpose=False):
        """
        Generates insights about the values in each column of a given dataframe.

        Args:
            self (pandas.DataFrame): The dataframe for which insights are to be generated.
            transpose (bool, optional): A boolean flag indicating whether to transpose the resulting dataframe. Default is False.

        Returns:
            pandas.DataFrame: A dataframe containing insights about the values in each column of the input dataframe. The number of rows in the resulting dataframe is equal to the number of columns in the input dataframe.
        """
        dataframe = []
        for col in self.columns:
            col_info = [
                col,
                Statistics.get_dtypes(self, [col]),
                Statistics.get_col_number_of_unique_values(self, col, False),
                Statistics.get_col_max_value(self, col, False),
                Statistics.get_col_max_value_count(self, col, False),
                f"{Statistics.get_col_max_value_percentage(self, col, False)}%",
                Statistics.get_col_min_value(self, col, False),
                Statistics.get_col_min_value_count(self, col, False),
                f"{Statistics.get_col_min_value_percentage(self, col, False)}%",
                Statistics.get_col_null_count(self, col, False),
                f"{Statistics.get_col_null_percentage(self, col, False)}%" 
            ]
            dataframe.append(col_info)

        column_names = [
            'Column',
            'Dtype',
            'Distinct_Values',
            'Most_Common/Max_Value',
            'Occurrences_of_Max_Value',
            'Percentages_of_Occurrences_of_Max_Value',
            'Less_Common/Min_Value',
            'Occurrences_of_Min_Value',
            'Percentage_of_Occurrences_of_Min_Value',
            'Missing_Values',
            'Percentage_of_Missing_Values'
        ]
        dataframe = pd.DataFrame(dataframe, columns=column_names)
        if transpose:
            dataframe = dataframe.transpose()
            dataframe.columns = dataframe.iloc[0]
            dataframe = dataframe[1:]
        return dataframe.head(len(self.columns))
    def find(self, conditions, AND=True, OR=False):
        """
        Returns the elements of `self` that satisfy the given conditions.

        Args:
            self (list): The object on which the `find` function is called.
            conditions (list): A list of boolean conditions that the elements of `self` must satisfy.
            AND (bool, optional): Flag indicating whether the conditions should be combined using 'AND' operator. Defaults to True.
            OR (bool, optional): Flag indicating whether the conditions should be combined using 'OR' operator. Defaults to False.

        Raises:
            ValueError: If both `AND` and `OR` flags are True simultaneously or if neither `AND` nor `OR` flags are True.

        Returns:
            list: A subset of `self` that satisfies the given conditions.
        """
        combined_condition = conditions[0]
        if AND:
            for condition in conditions[1:]:
                combined_condition = combined_condition & condition
        elif OR:
            for condition in conditions[1:]:
                combined_condition = combined_condition | condition
        elif OR and AND:
            raise ValueError("Both AND and OR cannot be True simultaneously.")
        else:
            raise ValueError("Either AND or OR must be True.")
        return self[combined_condition]
    def find_replace(self, conditions, replace_with, AND=True, OR=False):
        new_dataset = self.find(conditions, AND, OR)
        self.loc[new_dataset.index, replace_with[0]] = replace_with[1]
        return self
    def find_delete(self, conditions, AND=True, OR=False):
        new_dataset = self.find(conditions, AND, OR)
        self = self.drop(new_dataset.index)
        return self

In [5]:
#from statistics import Statistics
class Cleaning:
    def capitalize_cols_name(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc='Renaming Collumns', unit='Columns'):
            new_col = col.capitalize()
            self = self.rename(columns={col: new_col})
        return self
    def lower_cols_name(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc='Renaming Collumns', unit='Columns'):
            new_col = col.lower()
            self = self.rename(columns={col: new_col})
        return self
    def upper_cols_name(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc='Renaming Collumns', unit='Columns'):
            new_col = col.upper()
            self = self.rename(columns={col: new_col})
        return self
    def remove_cols_blankspaces(self, cols = None):
        if cols is None:
            cols = self.columns
        for column in tqdm(cols, desc='Removing BlankSpaces', unit='BlankSpaces'):
            if ' ' in column:
                new_column = column.replace(' ', '')
                self = self.rename(columns={column: new_column})
            else:
                continue
        return self
    def remove_cols_underscores(self, cols = None):
        if cols is None:
            cols = self.columns
        for column in tqdm(cols, desc='Removing Underscores', unit='Underscores'):
            if '_' in column:
                new_column = column.replace('_', '')
                self = self.rename(columns={column: new_column})
            else:
                continue
        return self
    def remove_cols_character(self, cols = None, characters=['_'], add_blankspace=False):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc="", unit=""):
            for character in characters:
                if character in col:
                    if not add_blankspace:
                        new_column = col.replace(character, '')
                    else:
                        new_column = col.replace(character, ' ')
                    self = self.rename(columns={col: new_column})
                else:
                    continue
        return self
    def round_rows_value(self, col, decimals=2):
        dtype = Statistics.get_dtypes(self, col)
        if dtype not in ["categorical", "bool", "object"]:
            for index, row in tqdm(self.iterrows(), desc= "Rounding Rows Value", unit="Rows"):
                self.loc[index, col] = round(row[col], decimals) 
        else:
            raise ValueError(f"{col}'s dtype is not a numerical.")
        return self
    def remove_rows_character(self, cols = None, characters=[','], add_blankspace=False):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc="", unit=""):
            dtype = Statistics.get_dtypes(self, col) 
            if dtype in ["categorical", "bool", "object"]:
                for character in characters:
                    if not add_blankspace:
                        self[col] = self[col].apply(lambda x: x.replace(character, '') if isinstance(x, str) and character in x else x)
                    else:
                        self[col] = self[col].apply(lambda x: x.replace(character, ' ') if isinstance(x, str) and character in x else x)
        return self
    def capitalize_rows_string(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc="", unit=""):
            dtype = Statistics.get_dtypes(self, col) 
            if dtype in ["categorical", "bool", "object"]:
                self[col] = self[col].apply(lambda x: x.capitalize() if isinstance(x, str) else x)
        return self
    def lower_rows_string(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc="", unit=""):
            dtype = Statistics.get_dtypes(self, col) 
            if dtype in ["categorical", "bool", "object"]:
                self[col] = self[col].apply(lambda x: x.lower() if isinstance(x, str) else x)
        return self
    def upper_rows_string(self, cols = None):
        if cols is None:
            cols = self.columns
        for col in tqdm(cols, desc="", unit=""):
            dtype = Statistics.get_dtypes(self, col) 
            if dtype in ["categorical", "bool", "object"]:
                self[col] = self[col].apply(lambda x: x.upper() if isinstance(x, str) else x)
        return self
    def remove_rows_with_missing_values(self, cols = None):
        if cols is None:
            self = self.dropna(axis=0)
        else:
            self = self.dropna(subset=cols)
        return self
    def interpolate_rows_with_missing_values(self, cols = None):
        if cols is None:
            self = self.interpolate()
        else:
            for col in tqdm(cols, desc="", unit=""):
                dtype = Statistics.get_dtypes(self, col) 
                if dtype in ["categorical", "bool", "object"]:
                    raise ValueError(f"{col} does not have numerical values. Please use mode to replace the missing values.")
                else:
                    self = self[col].interpolate()
        return self
    def foward_fill_rows_with_missing_values(self, cols = None):
        if cols is None:
            self = self.ffill()
        else:
            self = self.ffill(subset=cols)
        return self
    def split_rows_string(self, col, new_cols, separator=",", delete_col=True, save_remain=True):
        split_result = self[col].str.split(separator, expand=True)
        split_result = split_result.fillna('')
        for i, new_col in enumerate(new_cols):
            if i == 0:
                self[new_col] = split_result[i]
            else:
                if save_remain:
                    self[new_col] = split_result.loc[:, i:].apply(lambda x: separator.join(x), axis=1)
        if delete_col:
            self = self.drop([col], axis=1)
        return self
    def backward_fill_rows_with_missing_values(self, cols = None):
        if cols is None:
            self = self.bfill()
        else:
            self = self.bfill(subset=cols)
        return self
    def fill_rows_with_missing_values_mean(self, cols = None, decimals=2):
        if cols is None:
            self = self.fill(self.mean())
        else:
            for col in tqdm(cols, desc="", unit=""):
                dtype = Statistics.get_dtypes(self, col) 
                if dtype in ["categorical", "bool", "object"]:
                    self = self[col].fillna(self[col].mode())
                else:
                    self = self[col].fillna(round(self[col].mean(), decimals))
        return self

### **Next Steps**

1 - Add more values insight

6 - Visualization Functions

# Send images

## Telegram

In [6]:
base_url = "https://api.telegram.org/bot6148622889:AAFHdvQ_CxImlx1VEXE_vYhg4_2NFXk1OyU/sendPhoto"
def send_images_via_telegram(file_path, chat_id, caption="This is a caption"):
    my_file = open(file_path, 'rb')
    parameters = {
    "chat_id" : chat_id,
    "caption" : caption
    }
    files = {   
    "photo" : my_file
    }
    resp = requests.post(base_url, data=parameters, files=files)
    print(resp.status_code)

## Slack

Agora vou mostrar as funções que me faltam criar

In [7]:
slack_token = "xoxp-5452682117826-5446024818310-5452588829571-92e60adc3ecd07a736b6faea910b8831"
channel_id = "C05DAGDAPEX"
client = WebClient(token=slack_token)
def send_images_via_slack(file_path):
    try:
        response = client.files_upload(
                channels=channel_id,
                file=file_path
                )
        print(response)
    except SlackApiError as e:
        print(f"Error uploading file: {e.response['error']}")

# Testes

In [8]:
df = pd.read_csv("./Titanic.csv")
df1 = pd.read_csv("./Sales_Data.csv")
df2 = pd.read_parquet("./Titanic_Cleaned.parquet")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       714 non-null    float64
 2   sibsp     891 non-null    int64
 3   parch     891 non-null    int64
 4   fare      891 non-null    float64
 5   embarked  889 non-null    object
 6   class     891 non-null    object
 7   who       891 non-null    object
 8   alone     891 non-null    bool
 9   survived  891 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [10]:
teste = File.read_file("./Titanic_Cleaned.parquet")
teste.head()

,Gender,Age,Siblings_on_Board,Parents_on_Board,Ticket_Price,Port_of_Embarkation,Class,Adult/Child,Alone,Survived
0,M,22.0,1,0,7.25,Southampton,Third,Adult,False,0
1,F,38.0,1,0,71.28,Cherbourg,First,Adult,False,1
2,F,26.0,0,0,7.92,Southampton,Third,Adult,True,1
3,F,35.0,1,0,53.10,Southampton,First,Adult,False,1
4,M,35.0,0,0,8.05,Southampton,Third,Adult,True,0

In [11]:
teste2 = Statistics.get_best_dtypes(df, convert=True)
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               891 non-null    category
 1   Age                  714 non-null    float64
 2   Siblings_on_Board    891 non-null    int8
 3   Parents_on_Board     891 non-null    int8
 4   Ticket_Price         891 non-null    float64
 5   Port_of_Embarkation  889 non-null    category
 6   Class                891 non-null    category
 7   Adult/Child          891 non-null    category
 8   Alone                891 non-null    bool
 9   Survived             891 non-null    int64
dtypes: bool(1), category(4), float64(2), int64(1), int8(2)
memory usage: 27.6 KB

In [37]:
Statistics.get_memory_usage_percentage(teste, show_df=True, cols=["Gender", "Class", "Survived"])

   Col_Name Percentage_of_Memory_Usage(kb)
0    Gender                          4.13%
1     Class                          4.37%
2  Survived                         24.21%
3     Total                         32.71%

32.71

In [13]:
Metadata.read_netCDF_metadata(teste)

AttributeError: 'DataFrame' object has no attribute 'variables'

In [ ]:
teste.head()

,Gender,Age,Siblings_on_Board,Parents_on_Board,Ticket_Price,Port_of_Embarkation,Class,Adult/Child,Alone,Survived
0,M,22.0,1,0,7.25,Southampton,Third,Adult,False,0
1,F,38.0,1,0,71.28,Cherbourg,First,Adult,False,1
2,F,26.0,0,0,7.92,Southampton,Third,Adult,True,1
3,F,35.0,1,0,53.10,Southampton,First,Adult,False,1
4,M,35.0,0,0,8.05,Southampton,Third,Adult,True,0

In [ ]:
get_nulls_count(teste1)

The number of null values in sex is 0
The number of null values in age is 0
The number of null values in sibsp is 0
The number of null values in parch is 0
The number of null values in fare is 0
The number of null values in embarked is 2
The number of null values in class is 0
The number of null values in who is 0
The number of null values in alone is 0
The number of null values in survived is 0
Total: 2

2

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'col1': ['apple, pie', 'banana! split', 'cherry? cake'],
    'col2': ['ice-cream', 'chocolate? cake', 'strawberry! shortcake']
}

teste = pd.DataFrame(data)
teste.head()

            col1                   col2
0     apple, pie              ice-cream
1  banana! split        chocolate? cake
2   cherry? cake  strawberry! shortcake

In [ ]:
df.head()

      sex   age  sibsp  parch     fare embarked  class    who  alone  survived
0    male  22.0      1      0   7.2500        S  Third    man  False         0
1  female  38.0      1      0  71.2833        C  First  woman  False         1
2  female  26.0      0      0   7.9250        S  Third  woman   True         1
3  female  35.0      1      0  53.1000        S  First  woman  False         1
4    male  35.0      0      0   8.0500        S  Third    man   True         0

In [ ]:
df = pd.read_csv("./Titanic.csv")
condition = df["sex"] == "female"
conditions = [condition]
teste = find_delete(df, conditions)
teste["sex"].value_counts()

sex
male    577
Name: count, dtype: int64

In [ ]:
df = pd.read_csv("./Titanic.csv")
condition = df["sex"] == "female"
conditions = [condition]
replace = ["survived", 1]
# teste = replace.values()
# teste
teste = find_replace(df, conditions, replace)
teste4 = find(teste, conditions)
teste4["survived"].value_counts()

survived
1    314
Name: count, dtype: int64

In [ ]:
df = pd.read_csv("./Titanic.csv")
teste2 = find(df, [df["sex"] == "female"])
df.loc[teste2.index, "survived"] = 0
teste3 = find(df, [df["sex"] == "female"])
teste3["survived"].value_counts()

survived
0    314
Name: count, dtype: int64

In [ ]:
condition = df["sex"] == "female"
conditions = [condition]
replace = [df["survived"], 1]
# teste = replace.values()
# teste
teste = find_replace(df, conditions, replace)
teste.head()
teste1 = find(teste, conditions)
teste1["survived"].value_counts()
# adw = find(teste, conditions)
# teste.head()
# df["female"].value_counts()

survived
0    314
Name: count, dtype: int64

In [ ]:
teste.head()

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived,...,1,1,1,1,1,1,1,1,1,1
0,male,22.0,1,0,7.2500,S,Third,man,False,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,female,38.0,1,0,71.2833,C,First,woman,False,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,female,26.0,0,0,7.9250,S,Third,woman,True,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,female,35.0,1,0,53.1000,S,First,woman,False,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,male,35.0,0,0,8.0500,S,Third,man,True,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
teste = remove_rows_character(teste, characters=["-", "?", "!", " ", ","], add_blankspace=True)
teste.head()

  0%|          | 0/901 [00:00<?, ?/s]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
df1["Product"].dtypes

dtype('O')

In [ ]:
get_nulls_count(df1)

The number of null values in Order ID is 1
The number of null values in Product is 1
The number of null values in Quantity Ordered is 1
The number of null values in Price Each is 1
The number of null values in Order Date is 1
The number of null values in Purchase Address is 1
Total: 6

6

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372990 entries, 0 to 372989
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          371900 non-null  float64
 1   Product           371900 non-null  object
 2   Quantity Ordered  371900 non-null  float64
 3   Price Each        371900 non-null  float64
 4   Order Date        371900 non-null  object
 5   Purchase Address  371900 non-null  object
dtypes: float64(3), object(3)
memory usage: 17.1+ MB

In [ ]:
get_dtype(df1, "Product")

dtype('O')

In [ ]:
df1 = get_best_dtypes(df1, convert=True)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372990 entries, 0 to 372989
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          371900 non-null  float32
 1   Product           371900 non-null  category
 2   Quantity Ordered  371900 non-null  float16
 3   Price Each        371900 non-null  float16
 4   Order Date        371900 non-null  category
 5   Purchase Address  371900 non-null  category
dtypes: category(3), float16(2), float32(1)
memory usage: 16.3 MB

In [ ]:
df1 = remove_rows_with_missing_values(df1)

In [ ]:
get_col_null_count(df1, ["Purchase Address"])

The number of null values in ['Purchase Address'] is Purchase Address    0
dtype: int64

Purchase Address    0
dtype: int64

In [ ]:
split_rows_string(df1, "Purchase Address", ["Address", "City", "State"], delete_col=False)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Address,City,State
0,150502.0,iPhone,1.0,700.00,02/18/19 01:35,"866 Spruce St, Portland, ME 04101",866 Spruce St,"Portland, ME 04101",ME 04101
1,150503.0,AA Batteries (4-pack),1.0,3.84,02/13/19 07:24,"18 13th St, San Francisco, CA 94016",18 13th St,"San Francisco, CA 94016",CA 94016
2,150504.0,27in 4K Gaming Monitor,1.0,389.99,02/18/19 09:46,"52 6th St, New York City, NY 10001",52 6th St,"New York City, NY 10001",NY 10001
3,150505.0,Lightning Charging Cable,1.0,14.95,02/02/19 16:47,"129 Cherry St, Atlanta, GA 30301",129 Cherry St,"Atlanta, GA 30301",GA 30301
4,150506.0,AA Batteries (4-pack),2.0,3.84,02/28/19 20:32,"548 Lincoln St, Seattle, WA 98101",548 Lincoln St,"Seattle, WA 98101",WA 98101
...,...,...,...,...,...,...,...,...,...
372985,295660.0,AAA Batteries (4-pack),2.0,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001",574 4th St,"Los Angeles, CA 90001",CA 90001
372986,295661.0,USB-C Charging Cable,1.0,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301",359 1st St,"Austin, TX 73301",TX 73301
372987,295662.0,Lightning Charging Cable,1.0,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215",900 10th St,"Boston, MA 02215",MA 02215
372988,295663.0,AAA Batteries (4-pack),1.0,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215",592 Sunset St,"Boston, MA 02215",MA 02215
372989,295664.0,Google Phone,1.0,600.00,11/17/19 16:13,"428 Jackson St, Boston, MA 02215",428 Jackson St,"Boston, MA 02215",MA 02215