In [2]:
%pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from ucimlrepo) (2024.6.2)
Requirement already satisfied: numpy>=1.23.2 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /home/abigor/Desktop/Coding/SunTzu/.conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

- [Introduction]() 
- [Packages]()
    - [Packages Installation]()
    - [Packages Versions]()
- [Data Loading]()
    - [Getting the Data](#getting-the-data)
    - [Data Interpretation]()
- [Functions Demonstration]()
    - [Metadata]()
    - [Memory Optimization]()
    - [Visualization]()
- [Conclusion]()
    - [Recap]()
    - [More Information]()

### Package needed

In [ ]:
from ucimlrepo import fetch_ucirepo 
import suntzu

In [6]:
wine_quality = fetch_ucirepo(id=186)

In [7]:
X = wine_quality.data.features 
y = wine_quality.data.targets

In [9]:
X.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [11]:
y.head()

   quality
0        5
1        5
2        5
3        6
4        5